body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.topHeader{
  color: white;
  background-color: red;
  text-align: center;
  height: 10vh;
  font-size: 150%;
}
.mainHeaderBanner{
  font-size: 400%;
  font-weight: 600;
  font-style: italic;
  color: red;
}
.navbar{
  padding-left: 5%;
  padding-top: 1%;
}
.searchBars{
  display: flex;
  flex-direction: row;
}
.searchBars > *{
  padding: 1%;
}
.items{
  border: 1px solid black;
}
.cat_list{
  padding-left: 27%;
}
.topitems{
  display: flex;
  justify-content: space-between;
}
.addtocart{
  display: flex;
  justify-content: space-between;
}
