<div class="body row">
  <header class="col-lg-12 cartHead">
    <h1>My Shopping Bag!</h1>
    <h1>Order Total: {{total / 100 | currency}}</h1>
  </header>
  <table class="col-lg-12">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>sub-total</th>
    </tr>
    <tr ng-repeat="i in bigcart">
      <td class="col-lg-8">
        <img class="col-lg-4" src={{i.item.imageUrl}} alt="tea photo"/>
        <div class="cgoods col-lg-7">
          <h1>{{i.item.name}}</h1>
          <h4>Caffeine Scale: {{i.item.caffeineScale}}</h4>
          <h4>Ingredients: {{i.item.ingredients}}</h4>
          <h4>Rating: {{i.item.rating}}</h4>
        </div>
      </td>
      <td>
        <h4 ng-hide="hidethis(i.item.name)">{{i.quantity}}</h4>
      <div class="quan"  ng-hide="hidethis(i.item.name)">
        <select class="quan" name="quan" ng-model="quantity" ng-change="edit({i:i, quantity:quantity})">
          <option value="1">1</option>
          <option value="{{$index+2}}" ng-repeat="n in [].constructor(9) track by $index">{{$index+2}}</option>
        </select>
      </div>
      </td>
      <td>
        <h4>{{i.item.price / 100 | currency}}</h4>
      </td>
      <td>
        <button class="btn-primary btn" type="button" name="edit button" ng-click="edit()">Edit</button>
        <button class="btn-primary btn" type="button" name="remove button" ng-click="remove(i)">Remove Item</button>
      </td>
    </tr>
  </table>
</div>
