<div class="searchBars">
  <span class="categories">
    Search by Category:
    <select name="select" ng-model="sortByCat">
      <option value=""></option>
      <option value="{{cat}}" ng-repeat="cat in categories">{{cat}}</option>
    </select>
  </span>
  <span>Search By Name:
    <input class="searchbar headspace" type="text" ng-model="searchable" placeholder="Search...">
    </input>
  </span>
  <span>Sort By Price
    <select class="select" name="priceSort" ng-model="sortByPrice">
      <option value=""></option>
      <option value="-price">highest to lowest</option>
      <option value="price">lowest to highest</option>
    </select>
  </span>
</div>
<div ng-repeat="item in data | filter:searchable | filter:sortByCat | orderBy:sortByPrice" class="items col-lg-10 col-lg-offset-1">
  <img class="col-lg-4" src={{item.imageUrl}} alt="" />
  <div class="topitems">
    <h1>{{item.name}}</h1>
    <span class="addtocart">
      <h1>Quantity</h1>
      <my-Quan></my-Quan>
      <button class="btn btn-default" type="submit" ng-click="addItem({item: item.name, quantity:quantity})" name="button">Add To Cart</button>
    </span>
  </div>
  <h4>Price: {{item.price / 100 | currency}}</h4>
  <h4>Caffeine Scale: {{item.caffeineScale}}</h4>
  <h4>Ingredients: {{item.ingredients}}</h4>
  <h4>Rating: {{item.rating}}</h4>
  <h4>In Stock: {{item.inStock}}</h4>
  <h4> Categories:
    <li ng-repeat="cat in item.categories" class="cat_list col-lg-offset-1">{{cat}}</li>
  </h4>
</div>
